/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

/* Estilo del banner */
.banner {
    display: flex;
    align-items: center;
    background-color: #1D938A;
    padding: 0px;
    width: 100%;
    height: 200px; /* Fija la altura del banner */
    box-sizing: border-box;
    position: fixed; /* Fija el banner en la parte superior de la pantalla */
    top: 0;
    left: 0;
    z-index: 1000; /* Asegura que el banner esté sobre otros elementos */
}

.logo {
    flex: 1;
    display: flex;
    align-items: center;
}

.logo-img {
    max-height: 250px; /* Limita la altura del logo para que no afecte el tamaño del banner */
    width: auto;
    /* Aquí puedes ajustar el tamaño del logo */
}


.search-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 50px;
    padding: 5px 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.search-bar {
    flex: 1;
    border: none;
    padding: 10px 40px 10px 15px; /* Ajusta padding para que no se superponga con los iconos */
    border-radius: 25px;
    font-size: 22px;
    max-width: 100%; /* Permite que la barra de búsqueda ocupe el espacio disponible */
    outline: none; /* Elimina el contorno por defecto */
    background-color: #fff; /* Asegura que el fondo sea blanco */
}

.search-bar:focus {
    outline: 2px solid #fff; /* Hace que el outline sea del mismo color que el fondo */
}
.search-icon {
    position: absolute;
    right: 40px; /* Ajusta la posición del icono de búsqueda */
    background: none;
    border: none;
    cursor: pointer;
}

.clear-icon {
    position: absolute;
    right: 10px; /* Ajusta la posición del icono de borrar */
    background: none;
    border: none;
    cursor: pointer;
}

.search-icon img, .clear-icon img {
    width: 20px;
    height: 20px;
}

.buttons {
    display: flex;
    gap: 20px;
    margin-right: 20px; /* Añadido margen a la derecha de los botones */
}

.button {
    text-decoration: none;
    color: #fff;
    background-color: #1D938A;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
    transition: background-color 0.3s, transform 0.3s;
}

.button.active {
    background-color: #0a7e6a;
}

.button:hover {
    background-color: #0a7e6a;
    transform: scale(1.05);
}

/* Estilos para el contenedor de módulos */
#modulos-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
    margin-top: 200px; /* Espacio debajo del banner */
}

.modulo {
    background-color: white;
    width: 350px;
    margin: 15px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s, transform 0.3s;
}

.modulo:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
}

.modulo h2 {
    font-size: 1.8em;
    color: #1D938A;
    margin-bottom: 10px;
}

.modulo p {
    font-size: 1em;
    color: #666;
    margin-bottom: 10px;
}

.modulo .detalle {
    font-size: 0.9em;
    color: #444;
    margin-bottom: 10px;
}

.modulo .boton-inscripcion {
    display: inline-block;
    background-color: #1D938A;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    text-align: center;
    transition: background-color 0.3s, transform 0.3s;
}

.modulo .boton-inscripcion:hover {
    background-color: #0a7e6a;
    transform: scale(1.05);
}

/* Estilos para el pie de página */
footer {
    background-color: #1D938A;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
